<div class="container"  >
 
    <div class="post" >
        <article>
            <div class="div-problem" >
              <p> User: <strong>{{pot.name}}</strong></p> 
              <p> Date: <time>{{pot.created}}</time></p>
              <p> Likes: <time>{{pot.subscribe}}</time></p>
            </div>
            <div class="post-blog">
               <p> Post: <span>{{pot.post}}</span></p>
            </div>
            <div class="buttons"> 
                <button>Like</button>
                <button>Delete</button>
            </div>

        </article>
    </div>
 
</div>
   